body {
    background-color: black;
    font-family: Menlo;
    font-size: small;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}

.prompt {
    color: red;
}

li {
    position: relative;
    /* background-color: black; */
}

.pointer {
    display: inline-block;
}

.currentPath {
    display: inline-block;
    color: yellow;
}

.command {
    display: inline-block;
}

.pointer {
    background-color: white;
    height: 1rem;
    width: 5px;
    position: absolute;
    bottom: 0;
    display: inline-block;
    animation: blink 0.7s linear infinite;
}

@keyframes blink {
    0% {
      opacity: 0;
    }
}