body {
    background-color: black;
    font-family: Menlo;
    font-size: small;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}

.prompt {
    color: red;
}

li {
    display: flex;
    flex-direction: row;
    white-space: pre-wrap;
}

.currentPath {
    color: yellow;
}

.pointer {
    background-color: white;
    height: 1rem;
    width: 5px;
    bottom: 0;
    animation: blink 0.7s linear infinite;
}

@keyframes blink {
    0% {
      opacity: 0;
    }
}